body{
    margin: 0px;
    padding-left: 0px;
}
.sidebar{
    background-color: #000;
    width: 290px;
    height: 390px;
}

.brand{
    color: #fff;
    font-size: 20px;
}

.brand-two img{
  width: 20px;
  margin-right: 10px;

}
.brand-two{
    color: #fff;
    font-size: 25px;

}
.brand-two:hover{
    text-decoration: none;
    color: blue;
}
.brand-one img{
    width: 20px;
    margin-right: 10px;
  
  }
.brand-one{
    color: #fff;
    font-size: 25px;
  }
.brand-one:hover{
    text-decoration: none;
    color: blue;
}


.brand-three img{
    width: 20px;
    margin-right: 10px;
  
  }
.brand-three{
    color: #fff;
    font-size: 25px;
}
.brand-three:hover{
    text-decoration: none;
    color: blue;
}
.brand-four img{
    width: 20px;
    margin-right: 10px;
  
  }
.brand-four{
    color: #fff;
    font-size: 25px;
}
.brand-four:hover{
    text-decoration: none;
    color: blue;
}
.brand-five img{
    width: 20px;
    margin-right: 10px;
  
  }
.brand-five{
    color: #fff;
    font-size: 25px;
}
.brand-five:hover{
    text-decoration: none;
    color: blue;
}
.brand-six{
    color: #fff;
    font-size: 25px;
}
.brand-six:hover{
    text-decoration: none;
    color: blue;
}
  .brand-six img{
    width: 20px;
    margin-right: 10px;
  
  }
  .brand-seven img{
    width: 20px;
    margin-right: 10px;
  
  }
  .brand-seven{
    font-size: 25px;
    color: #fff;
}
.brand-seven:hover{
    text-decoration: none;
    color: blue;
}
